{% extends 'base.html.twig' %}
{% block title %}{{ titulo }}{% endblock %}
{% block body %}
<h1> {{titulo}} </h1>
<p> {{mensagem}} </p>
<p> Percorrendo arrays </p>
<ul>
    {% for fruta in frutas %}
    <li> {{ fruta }} </li>
    {% endfor %}
</ul>
<p> Eu q fiz </p>
<ul>
    {% for legume in legumes %}
    <li> {{ legume.nome }} (R${{ legume.valor }}) </li>
    {% endfor %}
</ul>
{% endblock %}